/* @override 
	http://localhost:9009/sites/all/themes/sheenadotnet/css/sheenadotnet.css?m3o8lo
	http://localhost:9009/sites/all/themes/sheenadotnet/css/sheenadotnet.css?m3o9e9
	http://localhost:9009/sites/all/themes/sheenadotnet/css/sheenadotnet.css?m3odn5
	http://localhost:9009/sites/all/themes/sheenadotnet/css/sheenadotnet.css?m3ofmi
	http://localhost:9009/sites/all/themes/sheenadotnet/css/sheenadotnet.css?m3pod2
	http://localhost:9009/sites/all/themes/sheenadotnet/css/sheenadotnet.css?m3ptn4
	http://localhost:9009/sites/all/themes/sheenadotnet/css/sheenadotnet.css?m3pzip */

/**
 * Layout
 */

#site-name {
	width: 85%;
}

.front #main {
	position: fixed;
	padding-bottom: 200px;
}

.not-front #main {
	position: relative;
	padding-bottom: 200px;
}

#main article.node-teaser {
	width: 340px;
}

/* Desktop display. */
@media only screen and (min-width:960px) {
  #main {
    width: 1020px;
  	margin: 0 auto;
  }

}

/* iPad: portrait. */
@media only screen and (max-width: 959px) and (min-width: 768px) {
    #main {
        width: 680px;
    	margin: 0 auto;
    }
}

/* Mobile display. */
@media only screen and (max-width:767px) {
  #main {
    width: 360px;
    margin: 0 auto;
  }
}

/*background */
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	background: transparent url(../images/background.jpg) repeat 0 0;
  margin: 0;
  padding: 0;
}

/*homepage items*/

#site-header {
   width: 100%;
   padding: 0;
   margin: 0 0 30px 0;
}

#main article.node-teaser {
  float: left;
  overflow: hidden;
  position: relative;
}

article.node-teaser .inner {
  background-color: #b8bbbd;
  margin: 0 15px 30px;
  box-shadow: 1px 3px 1px rgba(0,0,0,.3);
  position: relative;
}

/**
 * Typography
 */

p {
	margin: 10px 0;
	font-size: inherit;
	line-height: 1.4em;
}

p:first-child{
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}


#site-name {
  color: #d0d4d6;
	font-family: 'bello-pro', script;
	font-weight: normal;
	text-align: center;
	margin: 0 auto 60px auto;
	font-size: 28px;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#site-name .name {
background: transparent url(../images/header.jpg) no-repeat center bottom;
background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
  color: #fff;
  display: block;
  font-family: 'bebas-neue', 'LeagueGothic', sans-serif;
  font-size: 116px;
  line-height: 1em;
  letter-spacing: normal;
  margin: 0 0 15px;
  padding: 40px 0 10px 0;
  text-transform: uppercase;
  width: 100%;
  text-shadow: 2px 3px 0px rgba(0,0,0,.3);
}

#site-name a {
	color: #fff;
	text-decoration: none;
}

/*articles*/
article.node-teaser .overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	text-align: center;
}

article.node-teaser .overlay:hover {
	cursor: pointer;
}

article.node-teaser .overlay a {
	display: inline-block;
	background-color: #b8bbbd;
	background-image: linear-gradient(
	  top, 
	  #e2e3e4 0%, 
	  #8b8f92 100%
	  ); /* w3c */
	background-image: -o-linear-gradient(
	  top, 
	  #e2e3e4 0%, 
	  #8b8f92 100%
	  ); /* opera */
	background-image: -webkit-linear-gradient(
	  top, 
	  #e2e3e4 0%, 
	  #8b8f92 100%
	  );  /* webkit */
	background-image: -moz-linear-gradient(
	  top, 
	  #e2e3e4 0%, 
	  #8b8f92 100%
	  ); /* firefox */
	border-radius: 14px;
	border: 1px solid #b8bbbd;
	color: #fff;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	line-height: 1em;
	padding: 8px 12px;
	margin: 36px 12px;
  text-shadow: 0px 1px 0px rgba(0,0,0,.6);
  }
  
.ie article.node-teaser .overlay a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#e2e3e4, 
      endColorstr=#8b8f92,
      GradientType=0
        );
    position: relative; /* Required to enable cleartype in IE when using filter */ 
    zoom: 1;
      }
      
      /* IE8 */
.ie8 article.node-teaser .overlay a {
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#e2e3e4, 
      endColorstr=#8b8f92,
      GradientType=0
      );
  }
  
  article.node-teaser .overlay a:hover {
  	background-image: none;
  }
  
.ie article.node-teaser .overlay a:hover{
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  	}
  	


.ie8 article.node-teaser .overlay a:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }

article.node-teaser header {
	font-family: "bello-pro", script;
	font-size: 18px;
	text-align: right;
	margin: 0px 15px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

article.node-teaser .content {
	padding: 8px 8px 10px;
	font-family: "bebas-neue", "LeagueGothic", sans-serif;
	color: #fff;
	font-size: 42px;
	line-height: 1.3em;
	text-shadow: 2px 3px 0px rgba(0,0,0,.3);
	text-transform: uppercase;
}

article.node-teaser .content strong {
	font-weight: normal;
	color: #4f4371;
}

article.node-teaser .content em {
	font-style: normal;
	font-family: "bello-pro", script;
	text-transform: none;
	text-shadow: none;
	color: #fff;
}

article.node-teaser.node-article .content {
	font-size: 60px;
}

article.node-teaser.node-link .content { 
	font-family: Georgia, serif;
	font-size: 14px;
	color: #333;
	text-shadow: none;
	background: #fff;
	margin: 0 8px 8px;
	padding: 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-transform: none;
}

article.node-teaser.node-link footer {
	display: block;
	position: relative;
	font-family: "bebas-neue", "LeagueGothic", sans-serif;
	text-transform: uppercase;
}

article.node-teaser.node-link footer a {
  display: block;
	text-overflow: ellipsis;
	font-size: 18px;
	line-height: 24px;
	width: 100%;
	overflow: hidden;
	height: 24px;
	margin: 0 8px 8px;
	color: #0d5b82;
}

article.node-teaser.node-portfolio .content{
	padding: 0;
}

article.node-teaser.node-portfolio .content img {
	display: block;
	max-width: 100%;
}

article.node-teaser.node-tweet .content {
	font-family: "bello-pro", script;
	text-transform: none;
	font-size: 28px;
	text-shadow: none;
	color: #54585a;
}

article.node-sticky.node-teaser header {
	display: none;
}
article.node-sticky.node-teaser .content{
	background-color: #4f4371;
}

ul.pager {
	display: none;
}

#infscr-loading,
div.scrollEmpty {
	position: absolute;
	display: block;
	bottom: 120px;
	text-align: center;
	width: 100%;
	font-family: "bebas-neue", "LeagueGothic", sans-serif;
	font-size: 32px;
	color: #fff;
	text-shadow: 1px 2px 0px rgba(0,0,0,.3);
}

#infscr-loading img {
	display: none;
}

#infscr-loading em {
  display: block;
  background: transparent url(../images/loading.gif) no-repeat center center;
	text-indent: -9999px;
	text-align: left;
}

#site-footer {
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: transparent url(../images/background.jpg) repeat 0 0;
}